
// --------------
// Global styles
// --------------

// $g1: #ff334f
// $g2: #ff8e5c
// $dark1: #25262b
// $dark2: hsla(218, 18%, 30%, 1)  
// $gradient: linear-gradient(45deg, $g1, $g2 90%)

// Color Variables
$l1: hsla(223, 13%, 97%, 1)
$l2: hsla(200, 20%, 91%, 1)
$border: hsla(200, 20%, 80%, 1)
// $text: hsla(205, 9%, 24%, 1)
$text: hsla(205, 9%, 24%, .05)

$shadow: 0 10px 20px -2px $border

// Mixins
=size($x, $y)
  width: $x
  height: $y

// Text
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700')
// @import url('https://fonts.googleapis.com/css?family=Farsan|Shrikhand')

h1, h3, p, a, ul, li
  color: $text
  font-family: 'Nunito', sans-serif
  list-style: none

h2, h3, h4, h5, h6
  font-weight: 700
  // font-family: 'Shrikhand', cursive
h1
  font-weight: 200

a
  cursor: pointer
  outline: none
  text-decoration: none

ul, li
  margin: 0

svg
  +size(24px, 24px)
  fill: $text

hr
  display: block
  width: 20%
  height: 0
  border: 0
  border-top: 3px solid $border
  margin: 100px auto
  padding: 0

.btn
  cursor: pointer
  transition: all 0.2s ease-in-out

  &:hover
    background-color: $border







// --------------
//  Layout
// --------------

body
  position: relative
  background-color: $l1

.wrapper
  max-width: 1200px
  display: grid
  grid-template-columns: 2fr 380px
  grid-template-rows: 350px auto auto auto
  grid-template-areas: "logo  logo" "aboutStatement  workCards" "about  workCards" "aboutStrengths contactCard"
  grid-gap: 0 80px
  margin: 0 auto
  padding: 50px 30px 100px

main
  display: flex

.background
  position: absolute
  right: 0
  top: 0
  width: 30%
  width: calc(50% - 230px)
  min-height: 100%
  background-color: $l2

header
  grid-area: logo 

.logo
  display: block
  +size(254px, 94px)
  background-color: $l1
  // background-color: $text
  fill: $text






  
// --------------
//  Left
// --------------

// .ctr-about
//   margin-right: 80px
//   flex: 2

.aboutStatement
  grid-area: aboutStatement

// .ctr-aboutMain
//   grid-area: about

.aboutStory
  grid-area: about

.aboutStrengths
  grid-area: aboutStrengths
  

section
  margin-bottom: 60px

.strength
  position: relative
  padding: 20px 0
  border-top: 1px solid $border
  cursor: pointer

  &:last-of-type
    border-bottom: 1px solid $border

.strengthLabel
  display: flex
  justify-content: space-between

  p
    margin: 0 0 0 14px

  svg
    margin: 0 12px 0 0

.dropdown
  position: absolute
  right: 10px
  top: 10px
  z-index: 10
  width: 70%
  padding: 40px
  padding-left: 56px 
  background-color: $l1
  border-radius: 5px
  box-shadow: $shadow
  pointer-events: none
  transition: 0.3s ease-in-out

  svg
    position: absolute
    top: 6px
    left: 10px
    height: 70px
    width: 70px
    z-index: -1
    fill: transparentize($border, .6)
    transform: rotate(180deg)








// --------------
//  Right
// --------------

// .ctr-right
  // grid-area: cards
  // flex: 1
  // min-width: 380px

.card
  position: relative
  z-index: 3
  background-color: $l1
  border-radius: 5px
  box-shadow: 0 10px 20px -2px $border, 0 1px 6px $border
  // js handles opacity - fallback in <noscript> tag
  // opacity: 0

  p
    margin: 0

.ctr-work
  grid-area: workCards

  .cardWork
    display: block
    width: 100%
    margin-bottom: 20px
    padding: 30px 28% 30px 30px
    background-color: $l1
    border-radius: 5px
    box-shadow: 0 2px 1px $border,0 1px 6px $border
    transition: all 0.3s

    &:after
      content: ''
      position: absolute
      z-index: -1
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $l1
      border-radius: 5px
      box-shadow: 0 10px 20px -2px $border
      transition: opacity 0.2s ease-in-out

    &:hover:after
      opacity: 0

  .tab
    position: absolute
    top: 16px
    right: -5px
    +size(60px, 44px)
    border-radius: 5px 0 0 5px
    background-color: $text

  svg
    margin: 10px
    fill: white









// ================================

.cardContact
  grid-area: contactCard
  margin-bottom: 30px

  .ctr-Text
    padding: 30px

  .email
    position: relative
    display: flex
    flex-direction: column
    padding: 24px 30px
    border-top: 1px solid $border
    border-bottom: 1px solid $border
    overflow: hidden

  .txt-address
    display: flex
    transition: all 0.3s

    p
      margin: -1px 0 0 12px
      font-weight: 700

  .address-active
    transform: translateY(-45px)
    opacity: 0

  .txt-copied
    position: absolute
    bottom: -48px
    transition: all 0.3s
    opacity: 0

  .copied-active
    transform: translateY(-60px)
    opacity: 1 !important

  .social
    display: flex
    justify-content: space-around
    overflow: hidden
    border-radius: 0 0 5px 5px

    a
      flex: 1
      display: flex
      justify-content: center
      align-items: center
      height: 66px







// --------------
//  Media Queries
// --------------

@media (max-width: 1200px)
  .background
    width: 30%



// ================================

@media (max-width: 1020px)
  .background
    width: 36%

  .ctr-about

    .dropdown
      top: 68px
      width: 95.5%



// ================================

@media (min-width: 851px)
  .mobile
    display: none



// ================================

@media (max-width: 850px)

  .background,
  .desktop
    display: none

  .wrapper
    max-width: 500px
    padding: 30px 20px

  main
    flex-direction: column

  .logo
    margin: 0 auto 90px

  .aboutStatement
    margin: 0 0 80px

    h1
      text-align: center

  .ctr-about
    margin: 0

    .aboutStrengths
      margin-bottom: 0



// ================================

@media (max-width: 500px)

  .wrapper
    padding: 30px 10px

  .aboutStatement
    margin: 0 0 60px
    padding: 20px

    h1
      font-size: 1.9rem

  hr
    margin: 60px auto

  .aboutStory, .aboutStrengths
    display: none

  .hr2
    display: none








// --------------
//  Animation
// --------------

@keyframes fadeInLeft
  0%
    opacity: 0
    transform: translateX(30px)
  100%
    opacity: 1
    transform: translateX(0px)

.fadeInLeft
  animation:
    name: fadeInLeft
    duration: 1000ms
    fill-mode: forwards
    timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)

@keyframes splashLogoReveal
  0%
    transform: skewX(-25deg) translateX(0px)
  20%
    transform: skewX(-25deg) translateX(300px)
  80%
    transform: skewX(-25deg) translateX(300px)
  100%
    transform: skewX(-25deg) translateX(-26px)




    


// --------------
//  SplashScreen
// --------------

.splashscreen
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 99
  opacity: 0
  display: none
  justify-content: center
  align-items: center
  transition: opacity 0.5s ease-out
  background-color: $l1

  .mask
    +size(300px, 100px)
    position: absolute
    background-color: $l1
    transform: skewX(-25deg) translateX(-26px)

    @for $i from 1 through 3
      &:nth-child(#{$i})
        opacity: 1 / $i
        animation:
          name: splashLogoReveal
          duration: 2400ms
          delay: 400 + (180ms * $i)
          timing-function: ease-in-out
          fill-mode: forwards

  .splashLogo
    +size(254px, 94px)

.ssDisplay
  display: flex

.ssActive
  opacity: 1

// applied to body
.scrollLock
  overflow: hidden
